:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #2f303a;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway" sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

/* общие паттерны */
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Шапка сайта */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.link-header {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}

.link-contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.link-active {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--primary-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
}

/* Преимущества */
.advantages-header {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

/* Чем мы занимаемся */
.activity {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.footer-address {
  font-style: normal;
  line-height: 1.71;
  color: var(--title-text-color);
}

.footer-contact {
  line-height: 1.71;
  color: var(--contact-color);
}

/* Portfolio */
.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--accent-color);
}

.btn-active {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Галерея */
.gallery-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
